<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Some Website</title>
  </head>
  <body>
    <!-- calling an hbs partial -->
    {{> header}}
    <p>Some text here</p>

    <!-- calling an hbs partial -->
    {{> footer}}
  </body>
</html>
