<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{pageTitle}}</title>
  </head>
  <h2>Maintenance Mode</h2>
  <p>Sorry but we are still developing our app</p>
  </body>
</html>
